@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,700');

/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

// fonts
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

// colors
$orange: #f08700;
$gray: #4d4d4d;
$lightgray: #949494;
$white-bg: #fff;
$white: #fff;

//buttons
$btn-orange-bg: $orange;
$btn-white-bg: $white;
$btn-orange-color: $orange;
$btn-white-color: $white;
$btn-gray-bg: $gray;


// sizes


// z indices
